/*
/*/
*.log
!/.gitignore
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/tests/
!/vignettes/
!/README.md
/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
.Rproj.user
!/.gitlab-ci.yml
doc
Meta
